<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vendas</title>
</head>
<body>
    <h1>Vendas Registradas</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Total</th>
        </tr>
        <tr th:each="venda : ${vendas}">
            <td th:text="${venda.id}"></td>
            <td th:text="${venda.cliente.nome}"></td>
            <td th:text="${venda.total}"></td>
        </tr>
    </table>
</body>
</html>